/*
 * This script creates an admin user in Jenkins
 */

import jenkins.model.*
import hudson.security.*
import java.util.logging.Logger

Logger logger = Logger.getLogger('09-configure-user-admin.groovy')

logger.info("Running script: 09-configure-user-admin")
logger.info("Setting up Jenkins admin user.")

def adminUsername = "{{ jenkins_admin_user }}"
def adminPassword = "{{ jenkins_admin_password }}"

def hudsonRealm = new HudsonPrivateSecurityRealm(false)
hudsonRealm.createAccount(adminUsername, adminPassword)
Jenkins.instance.setSecurityRealm(hudsonRealm)
def strategy = new FullControlOnceLoggedInAuthorizationStrategy()
strategy.setAllowAnonymousRead(false)
Jenkins.instance.setAuthorizationStrategy(strategy)

Jenkins.instance.save()

logger.info("Jenkins admin user set")
